body {
  background: linear-gradient(to left bottom, #65dfc9, #6cdbeb);
}

.navbar {
  background-color: rgb(168, 204, 215);
  color: rich black;
}
.navbar :hover{
  color: whitesmoke;
  cursor: pointer;
}

.intro {
  text-align: center;
  background-image: url(./Assets/Images/Kites.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  margin-bottom: 35px;
}

.intro h5 {
  color: white;
  font-size: 70px;
  padding-top: 250px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  background-color: white;
}


h1, p, li{
  text-align: center;
}

.row {
  justify-content: space-between;
}

li {
  list-style: none;
}

