@font-face {
  font-family: myCustomFont;
  src: url(./Assets/fonts/Caveat/static/Caveat-Regular.ttf);
}

@font-face {
  font-family: myCustomFont2;
  src: url(./Assets/fonts/Poppins/Poppins-BoldItalic.ttf);
}

body {
  background-color: rgb(168, 204, 215);
  font-family: myCustomFont;
  font-size: 30px;
}

.navbar {
  font-family: myCustomFont2;
  background-color: rgb(168, 204, 215);
  color: rich black;
}
.navbar :hover{
  color: whitesmoke;
  cursor: pointer;
}

.intro {
  text-align: center;
  background-image: url(./Assets/Images/Kites.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  margin-bottom: 35px;
}

.intro h1 {
  color: white;
  font-size: 70px;
  padding-top: 250px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 20px;
}

.card1 {
  background-color: white;
  border-radius: 25px;
}

h1 {
  font-family: myCustomFont2;
}


h1, p, li{
  text-align: center;
}

h5 {
  font-family: myCustomFont2;
}

.row {
  justify-content: space-between;
}

li {
  list-style: none;
}

.mySkill {
  padding-top: 25px;
  padding-bottom: 25px;
}

.prjct {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn {
  display: block;
  border-radius: 5px, 5px, 5px, 5px;
}

.f-contact {
  background-image: url(./Assets/Images/OceanView.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}